# Ignore git files
**/.git
**/.gitignore

# Ignore local development databases (e.g., SQLite)
**/db.*

# Ignore Python cache files
__pycache__/
**/__pycache__/
**/__pycache__
*.pyc

# MacOS
**/.DS_Store